{
	"ignore": ["node_modules"],
	"presets": [
		["@babel/preset-env", {"targets": {"node": 8}, "useBuiltIns": "usage"}],
		"@babel/preset-flow"
	],
	"plugins": [
		"add-module-exports",
		"dynamic-import-node",
		"@babel/plugin-proposal-object-rest-spread"
	],
	"env": {
		"development": {
			"plugins": [["flow-runtime", {"assert": false, "annotate": true}]]
		},

		"production": {
			"plugins": [
				["transform-inline-environment-variables", {"include": ["NODE_ENV"]}],
				"minify-constant-folding",
				"minify-guarded-expressions",
				"minify-dead-code-elimination",
				"transform-remove-console",
				"transform-remove-debugger"
			]
		}
	}
}
