{
	"overrides": [
		{
			"files": [".babelrc", ".eslintrc", ".prettierrc"],
			"options": {
				"parser": "json",
				"bracketSpacing": false
			}
		}
	],
	"singleQuote": true,
	"trailingComma": "es5"
}
